.nav{
    grid-area: n;
    background-color: #131313;
    padding: 20px;
    margin: 2px;
}

.item{
    font-size: 18px;
    font-weight: bolder;
    color: #e8e9e9;
    width:100%;
    text-align: center;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a.active{
    color: cadetblue;
}