body{
  background-color: #1f2022;
}

.app-wrapper-content{
  grid-area: c;
  background-color: #131313;
  padding: 20px;
  margin: 2px;
}

.app-wrapper{
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
          "h h"
          "n c";
}

.page-text{
  color: #e8e9e9;
  font-weight: bolder;
}

.important-text{
  font-weight: bolder;
  font-size: 20px;
  color: #e8e9e9;
}

.row{
  display: inline-block;
}

.center{
  width: 100%;
  text-align: center;
}